table ,th ,td {
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    text-align: center;
    width: 10%;
}

.Ramos {
    background-color: blue;
    font-family: 'Courier New', Courier, monospace;
}

.Sesen{
    background-color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Mont{
    background-color: burlywood;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Lopez{
    background-color: cyan;
    font-family: cursive;
}

.Joan{
    background-color: darkolivegreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a:hover{
    background-color: blue;
    color: white;
}
